<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-list>
    <ion-list-header>Sound</ion-list-header>
    <ion-item lines="none">
      <ion-icon class="ion-margin-end" name="musical-notes"></ion-icon>
      <ion-label>Sound</ion-label>
      <ion-toggle mode="md" checked="checked"></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-icon class="ion-margin-end" name="volume-mute"></ion-icon>
      <ion-label>Vibration</ion-label>
      <ion-toggle mode="md" checked="checked"></ion-toggle>
    </ion-item>

    <ion-list-header>Theme</ion-list-header>
    <ion-item lines="none">
      <ion-icon class="ion-margin-end" name="contrast"></ion-icon>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle mode="md" checked="checked"></ion-toggle>
    </ion-item>

    <ion-list-header>Counter</ion-list-header>
    <ion-item lines="none">
      <ion-icon class="ion-margin-end" name="trash"></ion-icon>
      <ion-label>Delete All Counters</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon class="ion-margin-end" name="bulb"></ion-icon>
      <ion-label>Counter Lap</ion-label>
      <ion-badge>1</ion-badge>
    </ion-item>

    <ion-item lines="none">
      <ion-icon class="ion-margin-end" name="alarm"></ion-icon>
      <ion-label>Counter Limit</ion-label>
      <ion-badge>20</ion-badge>
    </ion-item>

    <ion-list-header>App</ion-list-header>
    <ion-item lines="none">
      <ion-icon class="ion-margin-end" name="mail"></ion-icon>
      <ion-label>Contact Us</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon class="ion-margin-end" name="thumbs-up"></ion-icon>
      <ion-label>Rate Us</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
