ion-content {
  --background: var(--theme-background);
}

ion-header {
  box-shadow: 0px 2px 20px #00000008;
  --ion-toolbar-background: var(--theme-toolbar-background);
}

ion-toolbar {
  --border-color : var(--theme-background);
}

ion-header ion-title {
  color: var(--theme-text-color);
}

ion-icon {
  color: var(--theme-icon-color);
}
ion-tab-bar ion-label {
  color: var(--theme-text-color);
}

ion-tab-bar {
  --background: var(--theme-tab-bar-background);
  box-shadow: 0px 2px 20px #00000008;
}

ion-list {
  background: none;
}

ion-list-header {
  color: var(--theme-button-background);
  font-weight: bold;
}

ion-label {
  --color: var(--theme-text-color)!important;
}

ion-toggle {
  --background-checked: #155a53;
  --handle-background-checked:  var(--theme-button-background);
  padding-inline: 0px;
}

ion-badge {
  --background: var(--theme-button-background);
  color: #ffffff;
}

.delete-modal {
  --height: 178px;
  --width: 74%;
  --border-radius: 10px;
  --backdrop-opacity: 0.5;
  --box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),
    0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  ion-content {
    .content-wrapper {
     ion-item .item-interactive.ion-focused .item-interactive.item-has-focus{

        --hightlight-color-focused: #062f2b;
     }
      padding: 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      p {
        font-size: 26px;
        line-height: 36px;
        @media (max-width: 380px) {
          font-size: 22px;
        }
      }
      .buttons-inline {
        display: flex;
        ion-button {
          width: 45%;
          font-size: 15px;
          letter-spacing: 0px;
          &.ion-activated {
            --background-activated: #062f2b;
          }
          &.has-focus {
            caret-color: #062f2b !important;
          }
          &.confirm {
             --background: #ba2300 !important;
             color:#ffffff;
          }
        }
      }
    }
  }



}
