

#header {
  background-color: blue;
}

#progress-bar-wrapper {
  position: relative;
  margin: 20px 20px;
  font-size: 40px;
}

#progress-bar-wrapper #progresss-bar{
    display: block;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin:auto !important;
}

.home-btns {
    width: 152px;
}

.column-warpper {
  display: flex;
  justify-content: center;
}
