<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="openReload()">
        <ion-icon slot="start" name="reload-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="danger">
        <ion-icon slot="start" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <div id="progress-bar-wrapper">
    <circle-progress
    id="progress-bar"
  [percent]="85"
  [backgroundGradient]="true"
  [backgroundColor]="'#155A53'"
  [radius]="151"
  [toFixed]="0"
  [backgroundGradientStopColor]="'#062F2B'"
  [titleFontSize]="'70'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="4"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#82C6BF'"
  [animation]="true"
  [responsive]="true"
  [titleColor]="'#ffffff'"
  [titleFontWeight]="'900'"
  [animationDuration]="300"
  [backgroundPadding]="0"
></circle-progress>
  </div>
  <ion-row>
    <ion-col class="column-warpper" size="12">
      <div class="home-btns">
        <ion-button expand="block">+</ion-button>
      </div>
    </ion-col>
    <ion-col class="column-warpper" size="12">
      <div class="home-btns">
        <ion-button expand="block">-</ion-button>

      </div>
    </ion-col>
  </ion-row>
</ion-content>
