<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <div id="progress-bar-wrapper">
    <circle-progress
    id="progress-bar"
  [percent]="85"
  [radius]="151"
  [toFixed]="0"
  [titleFontSize]="'50'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [responsive]="true"
  [animationDuration]="300"
  [backgroundPadding]="0"
></circle-progress>
  </div>
  <ion-row>
    <ion-col class="column-warpper" size="12">
      <div class="home-btns">
        <ion-button expand="block">+</ion-button>
      </div>
    </ion-col>
    <ion-col class="column-warpper" size="12">
      <div class="home-btns">
        <ion-button expand="block">-</ion-button>

      </div>
    </ion-col>
  </ion-row>
</ion-content>
