<ion-header id="header">
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Counter Lists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="close-circle-sharp"></ion-icon>
      <ion-label>Remove ads</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
