<ion-header>
  <ion-toolbar>
    <ion-title>CounterLists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="counterList.length == 0">
    <app-no-record-found></app-no-record-found>
  </div>
  <ion-list  *ngIf="counterList?.length !== 0">
    <ion-item *ngFor="let list of counterList"
    lines="none"
    class="list-item">
    <ion-icon class="ion-margin-end" name="folder"></ion-icon>
      <ion-label>{{list?.title}}</ion-label>
      <ion-label>{{list?.count}}</ion-label>
      <ion-icon name="play" size="small" [routerLink]="['/main/home',list?.id]"></ion-icon>
      <ion-icon name="trash" size="small" (click)="deleteCounter(list?.id)"></ion-icon>
    </ion-item>
  </ion-list>
  <!-- <ion-infinite-scroll
        (ionInfinite)="doInfinite($event)" *ngIf="totalPagesData < totalData">
        <ion-infinite-scroll-content loadingSpinner="bubbles"
        loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll> -->
</ion-content>
